<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/jdbc
	http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

	<context:annotation-config></context:annotation-config>
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.h2.Driver"></property>
		<property name="url" value="jdbc:h2:tcp://localhost/~/testdb"></property>
		<property name="username" value="sa"></property>
		<property name="password" value="test" />
	</bean>

	<jdbc:initialize-database data-source="dataSource"
		enabled="true" ignore-failures="ALL">
		<jdbc:script location="classpath:com/main/deleteAllTables.sql" execution="INIT"></jdbc:script>
		<jdbc:script location="classpath:com/main/createTableExoplanets.sql"
			execution="INIT"></jdbc:script>
		<jdbc:script location="classpath:com/main/insertExoplanets.sql" execution="INIT"></jdbc:script>
		<!--<jdbc:script location="classpath:delete.sql" execution="DESTROY"></jdbc:script> -->
	</jdbc:initialize-database>

	<!-- DAOs -->
	<bean id="exoplanetDao" class="com.dao.ExoplanetDao"></bean>

	<!-- Services -->
	<bean id="exoplanetService" class="com.service.ExoplanetService"></bean>
	<bean id="exoplanetPage" class="com.service.ExoplanetPage"></bean>

	<!-- Controllers -->
	<bean id="exoplanetController" class="com.main.ExoplanetController"></bean>

</beans>
